*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: max(36px, 15vw);
}
h2{ text-align: center;
    align-items: center;}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: blue;
    height: 10vh;
    justify-content: space-evenly;
}

main{
    height: 75vh;
    background-color: #007D5F;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .gameTop{
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    }
        .counter{
            background-color: black;
            width: 40vw;
            height: 9vh;
            color:white;
        }
        .button{
            height: 9vh;
            width: 14vw; max-width: 8vh;
            border-radius: 50%;
            margin: 1vw;
        }
    .gameBoard{
    display: block;
    margin: auto;
    margin-top: 2vh;
    padding: auto;}
        
        canvas{
            height: 116,7vw; max-height: 65vh;
            width: 70vw; max-width: 39vh;
            border: 2px solid white;}

    .gameButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 70vw; max-width: 39vh;
    }
    
    #button__refresh2{
        display: none;
    }


footer{
    display: flex;
    background-color: red;
    height: 10vh;
    bottom: 0;
}