/*Generales*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7D0000;
    display: flex;
    flex-direction: column;
}
.button{
    height: 7vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
    border: none;
    background: none;
}
/*Header*/
#logo{
    height: 10vh;
}
header{
    display: flex;
    height: 10vh;
    padding: 1rem;
    justify-content: space-evenly;
}
/* Fin header*/
/* Secciones*/
main{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Seccion de tiempo, pausa y puntos */
.gameTop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.counter{
    width: 35vw;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    color:white;
    border: 1px solid white;
    margin: 2vw;
    padding: auto;
    text-align: center;
}
h2{ text-align: center;
    align-items: center;
}
 /*Seccion de Canva*/       
.gameBoard{
    display: block;
    align-items: center;
    justify-content: center;
}
        
canvas{
    height: 116vw,7vw; max-height: 65vh;
    width: 70vw; max-width: 39vh;
    border: 2px solid white;
}
/*Sección de botones de movimiento y refresh*/
.gameButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 70vw; max-width: 39vh;
}
#button__refresh2{
    display: none;
}
/*Logos*/
footer{
    display: flex;
    height: 9vh;
    padding: 0.2rem;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 5px 8px #000000;
    background-color: rgba(0, 0, 0, 0.33);;
}
#logoV{
    width: 60px;
}
@media screen and (min-width:800px){
    /*Header*/
#logo{
    justify-content: space-evenly;
    align-items: center;
    height: 10vw;
}
#refresh1{
    display: none;
}
/*Secciones*/
main{
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}
section{
    display: flex;
    margin: auto;
    width: 23%;
}
/*Seccion de tiempo y puntos*/  
.gameTop{
    flex-direction: column;    
}
.counter{
    width: 10vw;
    margin: 2;
}
#counter_time{
    padding: 1rem;
}
#counter_points{
    padding: 1rem;
}
h2{ text-align: center;
    align-items: center;
}
/*Seccion de Canva*/  
.gameBoard{ 
    display: flex;
}
/*Seccion de botones de movimiento*/  
.gameButton{
    flex-direction: column;
    align-items: center;
    padding: auto;
}
.playButton{
    flex-direction: row;
    justify-content: center;
    
}
#up{
    display: flex;
    padding: 2rem;
}
.refresh{
    margin: 3rem;
}
#button__refresh2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#refreshpng{
    width: 70px;
    padding: 0rem;
}

p{
    font-family: 'Righteous', cursive;
    font-size: 30px;
}
}